.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 400px;
    height: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modalContainer .title {
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    margin-left:10px;
    font-family: 'Verdana', 'sans-serif';
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body {
    flex: 30%;
    justify-content: left;
    font-size: 1.5rem;
    margin-left:10px;
    font-family: 'Verdana', 'sans-serif';
}

.modalContainer .body2 {
    flex: 30%;
    justify-content: left;
    font-size: 1.5rem;
    margin-left:10px;
    font-family: 'Verdana', 'sans-serif';
}

.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: lightgrey;
}